/* the Set Up*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.row{
    margin: auto;
    max-width: 1140px;
}

html{
    font-size: 20px;
    font-family: Futura;
    overflow-x: hidden;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
header{
    background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff00cc, #333399); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff00cc, #333399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 25vh;
  margin-top: -35px;
  text-align: center;
  color: white;
  
}

h1{
    font-family: warden typeface;
    font-size: 250%;
    transform: translate(0,20px);
}

.time{
    position: absolute;
    transform: translate(-30px,60px);
}

/* FORMS */
.form{
   display: flex;
  transform: translate(15%);
   margin-top: 20px;
   gap: -50px;
}

.form input{
    width: 72%;
    height: 50px;
    border-radius: 5px;
    font-size: 90%;
   border: 2px solid #FF00CC;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}

.form a {
    border-radius: 5px;
    padding: 10px;
    font-size: 80%;
    cursor: pointer;
    color: #FF00CC;
    background-color: transparent;
    border: 2px solid #FF00CC;
   border-left: 0;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   transition: 0.5s;
   text-align: center;
}

.form a:hover {
background-color:#FF00CC ;
color: white;
}

/* ITEMS */
.item-main-container{
    transform: translate(15%);
    font-size: 150%;
    width: 80%;
    margin-top: 30px;
}

.lists{
    list-style: none;
    
}
.to-do{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin: 30px;
}
.to-do li{
    flex: 1;
    transform: translate(30px);;
    margin-right: 50px;
}


.correct{
    color: green;
    cursor: pointer !important;
}

.x{
    color: red; 
}

.fa-check-circle,
.fa-times-circle{
    pointer-events: none;
}

.edit{
   color: #FF00CC
}

.btn-clear-all{
    text-align: center;
    margin-top: 20px;
    font-size: 120%;
}

.btn-clear-all a {
    border: 2px solid #FF00CC ;
    padding: 10px;
    text-decoration: none;
    color: #FF00CC;
    transition: 0.5s;
}

.btn-clear-all a:hover {
    background-color: #ff00cc;
    color: white;
}

button{
    background-color: transparent;
    border-color:transparent ;
    cursor: pointer;
}

.completed{
    text-decoration: line-through black;
    transition: 0.5s;
    color: green;
}

p{
    margin-top: 100px;
    color: red;
    display: none;
}